*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'roboto-regular';
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'roboto-bold';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 15px;
}

.card {
    border-color: rgb(241, 241, 241);
}

hr {
    color: rgb(226, 226, 226);
}