@import 'fonts';
@import 'variables';
@import 'resetter';
@import 'colors';

.card-with-radius {
    border-radius: 20px 20px 20px 20px;
}



@media screen and (max-width: $xsAndsm),
screen and (max-width:$xsAndsm) {
    .dropdown {
        position: static;

        .dropdown-menu {
            left: 0 !important;
            right: 0 !important;
            width: 100%;
            border-radius: 0px;
            border-color: rgb(238, 238, 238);
            .dropdown-item {
                width: 100% !important;
              
    
              }
        }
    }
}
